doctype html
html.no-js
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="touch-icon-precomposed", href="/images/touch-icon-precomposed.png")
    link(rel="touch-icon-precomposed", sizes="72x72", href="/images/touch-icon-72x72-precomposed.png")
    link(rel="touch-icon-precomposed", sizes="114x114", href="/images/touch-icon-114x114-precomposed.png")
    link(rel="touch-icon-precomposed", sizes="144x144", href="/images/touch-icon-144x144-precomposed.png")
    // build:css(.) styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css({.tmp,app}) styles/app.css
    link(href='styles/app.css', rel='stylesheet', type='text/css')
    // endbuild
  body(ng-app='app')
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    div(ui-view)

    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    // build:js(.) vendor.js
    // bower:js
    // endbower
    // endbuild
    // build:js({.tmp,app}) app.js
    // include: "type": "js", "files": "**/*.js"
    // endbuild
    // build:js({.tmp,app}) app.templates.js
    script(src='app.templates.js')
    // endbuild
